body{
  color: white;
  font-family:Helvetica;
  text-align: center;
}

h1{
  font-size: 70px;
  font-weight: bold;
}

nav{
  font-size: 18px;
}

.header{
  background-image: url("resources/images/the-flatiron-building.png");
}
